
.header{
    width: 100%;
    min-height: 60px;
    background:rgb(109 138 19);
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.header input{
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}

/* .header a:hover{
    background: #FFF;
    color: rgb(109 138 19);
} */