.list-perfil {
    max-width: 600px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.list-perfil article {
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.perfil-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.perfil-img img{
    width: 200px;
    padding: 20px;
    border-radius: 100%;
}

.list-perfil h1{
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
    
}

.list-perfil p{
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
    color: #999;
}

.perfil-botao {
    width: 100%;
    
    display: flex;
    justify-content: center;
}

.list-perfil a{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 14px;
    background:rgb(109 138 19);
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
}

form {
    display: flex;
    justify-content: center;
    padding: 10px;
}

form input{
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    /* color: #000; */
}
